<app-nav></app-nav>

<div class="container pt-5 mt-5">
  <h1>ENCRYPTION PHRASES</h1>
  <button routerLink="/createPhrases">Create New</button>
  <table class="table table-group-divider">
    <thead>
    <tr>
      <td>CODE</td>
      <td>PHRASE</td>
      <td>KEY</td>
      <td>ACTION</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of datatable">
      <td>{{item.code}}</td>
      <td>{{item.phrase}}</td>
      <td>{{item.key}}</td>
      <td>
        <button class="btn btn-primary m-1" (click)="getDataDelete(item)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <h3> Decryipt Phrase</h3>
  <div class="row">
    <div class="d-flex">
      <label class="form-label m-2"> Please typing an code</label>
      <input class="form-control w-25" type="number" [(ngModel)]="phrase.code">
      <button class=" btn btn-primary" (click)="getDataEdit(phrase)" routerLink="/showPhrases">Send</button>
    </div>



  </div>

